---
import Image from 'astro/components/Image.astro';
---

<section id="ubicacion" class="h-screen flex flex-col">
  <div class="md:p-8 p-6 flex justify-center items-center w-full">
    <h1 class="font-[microgramma] md:text-[36px] text-[20px] text-[#c8f600]">
      UBICACIÓN
    </h1>
  </div>
  <div class="flex md:flex-row flex-col-reverse h-full">
    <!-- <div class="relative mb:w-2/4 w-full flex flex-col bg-[#2a2a2b]">
      <div
        class="absolute inset-0 bg-[url('/img/textura-metalica.webp')] bg-cover bg-center opacity-40 pointer-events-none scale-x-[-1]"
      >
      </div>
      <div class="h-[90%] md:p-4 md:pr-0 z-10">
        <Image
          src="/img/mapa-1.webp"
          alt="Mapa de Tarapoto"
          class="object-cover w-full h-full"
          loading="lazy"
          width={1920}
          height={1080}
        />
      </div>
      <div class="md:h-[10%] flex justify-center items-center bg-black z-10">
        <p
          class="font-[microgramma] md:text-[20px] text-[12px] text-white md:py-0 py-3"
        >
          2024 - <span class="text-[#c8f600]">CIRCUITO</span>
        </p>
      </div>
    </div> -->

    <div class="relative h-full w-full flex flex-col bg-[#2a2a2b]">
      <div
        class="absolute inset-0 bg-[url('/img/textura-metalica.webp')] bg-cover bg-center opacity-40 pointer-events-none"
      >
      </div>

      <div
        class="h-full flex flex-col justify-center items-center gap-4 px-8 relative z-10"
      >
        <Image
          src="/img/tornillo.webp"
          alt="Tornillo"
          class="absolute md:top-5 top-3 md:left-5 left-3 md:w-10 w-6"
          loading="lazy"
          width={30}
          height={30}
        />
        <Image
          src="/img/tornillo.webp"
          alt="Tornillo"
          class="absolute md:top-5 top-3 md:right-5 right-3 md:w-10 w-6"
          loading="lazy"
          width={30}
          height={30}
        />
        <Image
          src="/img/tornillo.webp"
          alt="Tornillo"
          class="absolute md:bottom-5 bottom-3 md:left-5 left-3 md:w-10 w-6"
          loading="lazy"
          width={30}
          height={30}
        />
        <Image
          src="/img/tornillo.webp"
          alt="Tornillo"
          class="absolute md:bottom-5 bottom-3 md:right-5 right-3 md:w-10 w-6"
          loading="lazy"
          width={30}
          height={30}
        />
        <Image
          src="/img/martin-cardenas.webp"
          alt="Logo Martin Cardenas"
          class="md:w-[30%] w-[70%] object-cover"
          loading="lazy"
          width={600}
          height={600}
        />
        <p
          class="font-[microgramma] md:text-[28px] text-[18px] text-white text-center"
        >
          <span class="text-white/85">PISTA ENDURO</span>
        </p>
        <div class="flex items-center md:gap-6">
          <p class="w-fit font-[microgramma] text-white text-center">
            <span class="md:text-[24px] text-[14px] text-white/85">
              UBICADO EN:
              <span class="text-[#fe8415]">
                CARRETERA <br /> FERNANDO BELAUNDE TERRY SUR
              </span>
              <br /> KM 4.5
            </span>
          </p>
        </div>
      </div>

      <!-- <div class="md:h-[10%] flex justify-center items-center bg-black z-10">
        <p
          class="font-[microgramma] md:text-[20px] text-[12px] text-white md:py-0 py-3"
        >
          2025 - <span class="text-[#c8f600]">PROXIMAMENTE</span>
        </p>
      </div> -->
    </div>
  </div>
</section>

<style>
  #section-5 {
    width: 100%;
  }
</style>
