<footer
  class="bg-transparent rounded-lg shadow-sm my-4 backdrop-blur-lg mx-[80px]"
>
  <div class="w-full p-4 md:flex md:items-center md:justify-between">
    <span class="text-[12px] text-gray-500 sm:text-center dark:text-white/90"
      >© 2025 <a
        href="https://github.com/Dh4r10"
        target="_blank"
        class="hover:underline">Dh4rio</a
      >. Todos los derechos reservados.
    </span>
    <span class="text-[12px] text-gray-500 sm:text-center dark:text-white/90"
      >Telf: <a
        href="https://api.whatsapp.com/send?phone=51965938082"
        target="_blank"
        class="hover:underline">+51 965 938 082</a
      >
      / Correo: <a
        href="https://mail.google.com/mail/?view=cm&fs=1&to=mdh4r10@gmail.com"
        target="_blank"
        class="hover:underline">mdh4r10@gmail.com</a
      >
    </span>
  </div>
</footer>
