---
import Image from 'astro/components/Image.astro';
import Calender from '../Calender.astro';
---

<section id="calendario" class="md:h-screen flex flex-col">
  <div class="md:p-8 p-6 flex justify-center items-center w-full gap-3">
    <h1
      class="font-[microgramma] md:text-[36px] text-[20px] text-[#c8f600] gap-2"
    >
      CALENDARIO
    </h1>
    <p class="font-[microgramma] text-white md:text-[30px] pb-1">|</p>
    <Image
      src="/img/logo.webp"
      alt="Logo Tarapoto"
      class="md:w-[100px] w-[50px]"
      loading="lazy"
      width={200}
      height={200}
    />
  </div>
  <div class="fondo-utv object-cover h-full flex md:flex-row flex-col gap-5">
    <div class="flex flex-col flex-1/2 justify-center md:pb-10 pb-0">
      <div class="flex flex-col md:gap-y-7 gap-y-3">
        <h1
          class="font-[microgramma] md:text-[32px] text-[16px] text-white flex items-center md:justify-start justify-center gap-1"
        >
          DÍA 1 <span
            class="presentacion-container__text-separador text-[#E7E7E7] pb-1"
            >|</span
          >
          <span
            class="font-[inter-boldItalic] text-[#E7E7E7] md:text-[16px] text-[12px]"
            >23/08/2025</span
          >
        </h1>
        <div class="flex flex-col gap-y-5">
          <Calender vehicle="MOTO" />
          <Calender vehicle="QUADS" />
          <Calender vehicle="UTV" />
        </div>
      </div>
    </div>
    <div class="flex flex-col flex-1/2 justify-center pb-10">
      <div class="flex flex-col md:gap-y-7 gap-y-3">
        <h1
          class="font-[microgramma] md:text-[32px] text-[16px] text-white flex items-center md:justify-start justify-center gap-1"
        >
          DÍA 2 <span
            class="presentacion-container__text-separador text-[#E7E7E7] pb-1"
            >|</span
          >
          <span
            class="font-[inter-boldItalic] text-[#E7E7E7] md:text-[16px] text-[12px]"
            >24/08/2025</span
          >
        </h1>
        <div class="flex flex-col gap-y-5">
          <Calender vehicle="MOTO" />
          <Calender vehicle="QUADS" />
          <Calender vehicle="UTV" />
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  #calendario {
    width: 100%;
    padding: 0 80px;

    .presentacion-container__text-separador {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
    }
  }
</style>
