---
import VehiclesCard from '../VehiclesCard.astro';
---

<section id="section-2" class="h-screen flex flex-col">
  <div class="h-[15vh] flex justify-center items-center w-full gap-[120px]">
    <h1 class="font-[microgramma] text-[36px] text-[#c8f600]">CATEGORÍAS</h1>
  </div>
  <div class="fondo-utv object-cover h-full flex flex-row">
    <VehiclesCard
      className="moto-1"
      title="MOTOS"
      defaultImage="/img/moto-1.webp"
      hoverImage="/img/moto-2.webp"
    />
    <VehiclesCard
      className="quad-1 border-x-[8px]"
      title="QUADS"
      defaultImage="/img/quad-1.webp"
      hoverImage="/img/quad-2.webp"
    />
    <VehiclesCard
      className="utv-1"
      title="UTV"
      defaultImage="/img/utv-1.webp"
      hoverImage="/img/utv-2.webp"
    />
  </div>
</section>

<style>
  #section-2 {
    width: 100%;
    /* Puedes mantener otros estilos generales para #section-2 si los necesitas */
  }
</style>
