---
interface Props {
  title: string;
  subtitle: string;
  className?: string;
}

const { title, subtitle, className } = Astro.props;
---

<div class={`badge-container flex ${className}`}>
  <p class="font-[microgramma] text-[#c8f600] md:text-[36px] text-[20px]">
    {title}
  </p>
  <span class="font-[inter-regular] text-[#e7e7e7] md:text-[14px] text-[10px]"
    >{subtitle}</span
  >
</div>

<style>
  .badge-container {
    padding: 0px 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>
