---
type Vehicle = 'MOTO' | 'QUADS' | 'UTV';

interface Props {
  vehicle: Vehicle;
}

const { vehicle } = Astro.props;
---

<div
  class="border-2 border-[#C8F600] text-white flex md:flex-row flex-col justify-between p-4 bg-white/[17%] md:m-0 mx-4 md:gap-0 gap-2"
>
  <div>
    <p
      class="font-[microgramma] md:text-[24px] text-[13px] text-[#c8f600] md:text-start text-center"
    >
      {vehicle}
    </p>
  </div>
  <div class="md:w-[40%] md:text-[16px] text-[12px]">
    <div class="flex justify-between">
      <p class="font-[inter-regular]">Carrera 1</p>
      <p class="font-[inter-semiBold]">10:30 A.M</p>
    </div>
    <div class="flex justify-between">
      <p class="font-[inter-regular]">Carrera 2</p>
      <p class="font-[inter-semiBold]">11:00 A.M</p>
    </div>
    <div class="flex justify-between">
      <p class="font-[inter-regular]">Carrera 3</p>
      <p class="font-[inter-semiBold]">12:30 P.M</p>
    </div>
    <div class="flex justify-between">
      <p class="font-[inter-regular]">Carrera 1</p>
      <p class="font-[inter-semiBold]">01:00 P.M</p>
    </div>
  </div>
</div>
