---
import FirstSection from './sections/FirstSection.astro';
import FithSection from './sections/FithSection.astro';
import Footer from './sections/Footer.astro';
import FourthSection from './sections/FourthSection.astro';
import SecondSection from './sections/SecondSection.astro';
import ThirdSection from './sections/ThirdSection.astro';
---

<div id="container" class="w-full bg-black">
  <FirstSection />
  <SecondSection />
  <ThirdSection />
  <FourthSection />
  <FithSection />
  <Footer />
</div>

<style>
  #container {
    display: flex;
    flex-direction: column;
  }
</style>
