<header
  class="h-full w-full px-[80px] flex md:justify-end justify-center items-center gap-x-6"
>
  <ul
    class="w-fit flex gap-6 py-3 px-6 bg-black/20 font-[inter-regular] text-[12px]"
  >
    <li class="inline-block">
      <a href="#nosotros" class="text-white/80 hover:text-white md:block hidden"
        >NOSOTROS</a
      >
      <a href="#nosotros" class="text-white/80 hover:text-white md:hidden">N</a>
    </li>
    <li class="inline-block">
      <a
        href="#categorias"
        class="text-white/80 hover:text-white md:block hidden">CATEGORIAS</a
      >
      <a href="#categorias" class="text-white/80 hover:text-white md:hidden"
        >C</a
      >
    </li>
    <li class="inline-block">
      <a
        href="#calendario"
        class="text-white/80 hover:text-white md:block hidden">CALENDARIO</a
      >
      <a href="#calendario" class="text-white/80 hover:text-white md:hidden"
        >C</a
      >
    </li>
    <li class="inline-block">
      <a
        href="#ubicacion"
        class="text-white/80 hover:text-white md:block hidden">UBICACIÓN</a
      >
      <a href="#ubicacion" class="text-white/80 hover:text-white md:hidden">U</a
      >
    </li>
  </ul>
  <button
    class="py-3 px-6 bg-black/20 font-[microgramma] text-white cursor-pointer hover:bg-black/30 transition-colors duration-300 text-[12px]"
  >
    ENTRADAS
  </button>
</header>
