<header
  class="h-full w-full px-[80px] flex md:justify-end justify-center items-center gap-x-6"
>
  <ul
    class="w-fit flex gap-6 py-3 px-6 bg-black/20 font-[inter-regular] text-[12px]"
  >
    <li class="flex gap-2 items-center">
      <a href="#nosotros" class="text-white/80 hover:text-white"
        ><i class="fa-solid fa-user"></i></a
      >
      <a href="#nosotros" class="text-white/80 hover:text-white md:block hidden"
        >NOSOTROS</a
      >
    </li>
    <li class="flex gap-2 items-center">
      <a href="#categorias" class="text-white/80 hover:text-white"
        ><i class="fa-solid fa-motorcycle"></i></a
      >
      <a
        href="#categorias"
        class="text-white/80 hover:text-white md:block hidden">CATEGORIAS</a
      >
    </li>
    <li class="flex gap-2 items-center">
      <a href="#calendario" class="text-white/80 hover:text-white"
        ><i class="fa-solid fa-calendar-days"></i></a
      >
      <a
        href="#calendario"
        class="text-white/80 hover:text-white md:block hidden">CALENDARIO</a
      >
    </li>
    <li class="flex gap-2 items-center">
      <a href="#ubicacion" class="text-white/80 hover:text-white"
        ><i class="fa-solid fa-location-dot"></i></a
      >
      <a
        href="#ubicacion"
        class="text-white/80 hover:text-white md:block hidden">UBICACIÓN</a
      >
    </li>
  </ul>
  <button
    class="py-3 px-6 bg-black/20 font-[microgramma] text-white cursor-pointer hover:bg-black/30 transition-colors duration-300 text-[12px] flex items-center gap-2"
  >
    <i class="fa-solid fa-ticket"></i>
    <p>ENTRADAS</p>
  </button>
</header>
